<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164622650388-p45q96mtlk618qtsqe7lipgeqtocnoka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164622650388-p45q96mtlk618qtsqe7lipgeqtocnoka</string>
	<key>API_KEY</key>
	<string>AIzaSyBdQoFPibMiIoKy-zoAPg0QLOPrv5HvVP8</string>
	<key>GCM_SENDER_ID</key>
	<string>164622650388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodo</string>
	<key>PROJECT_ID</key>
	<string>notifiymessaging</string>
	<key>STORAGE_BUCKET</key>
	<string>notifiymessaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164622650388:ios:406180e5df28c7f0de6b01</string>
</dict>
</plist>